body {
    background-color: #f1f1f1;
}

/* p {
    color: red;
    margin-top: 0;
}

#par-gr {
    color: green;
}

.white-txt {
    color: white;
} */

.edit-cell{
    text-align: center;
}

.w-50 {
    width: 42%;
}

.w-40{
    width: 42%;
}

.edit-cell a {
    text-decoration: none;
    background-color: rgb(43, 160, 228);
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: white;
    border-radius: 6px;
}

.edit-cell a:hover {
    text-decoration: none;
    background-color: rgb(37, 134, 190);
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

table {
    /*border: 1px solid black;*/
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

th { 
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
    padding-left: 0;
    
}

tr {
    border-color:#b3b3b3;
    border-bottom: 1px solid #b3b3b3;

}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td{
    text-align: right;
}

small {
    font-size: 12px;
}
* {
    font-family: 'Poppins';
}

.index {
    text-align: center;
}
.index a{
    text-align: center;
    background-color: rgb(27, 117, 201);
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 6px;
    color: black;
}

.index a:hover {
    text-decoration: none;
    background-color: rgb(160, 188, 204);
}

body {
 background-color:  rgb(194, 206, 218);
}

.title{
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* html, body {
        background-color: darkseagreen;
    } */
    ul.index {
        margin: 0 48px;
    }
    .index a {
        display:block;
    } 
}

.titulo {
    margin: 45px 100px;
    display: block;
    background-color: rgb(184, 209, 230);
    border-radius: 12px;
    text-align: center;
    box-shadow: 15px 15px 15px rgba(58, 61, 238, 0.4);
    padding: 45px;
}
.titulos {
    text-align: center;
}

.formulario {
    text-align: center;
    background-image:url(https://img.freepik.com/free-photo/living-room-product-backdrop-interior-background_53876-147964.jpg?w=2000);
    padding: 15px;
}
.btn {
    border: 0;
    background-color: transparent;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
}

.btn.btn-success{
background-color: rgb(75, 191, 75);
}

.btn.btn-success:hover{
    background-color: rgb(100, 220, 100);
}
.btn.btn-success:active{
    background-color: rgb(54, 153, 54);
}

.btn.btn-warning{
    background-color: rgb(228, 209, 62);
}

.btn.btn.btn-warning:hover {
    background-color: rgb(247, 227, 77);
}
.btn.btn-warning :active {
    background-color: rgb(179, 163, 43);
}
.btn.btn-danger {
    background-color: rgb(228, 62, 62)
}
.btn.btn-danger :hover{
    background-color: rgb(247, 77, 77)
}
.btn.btn-danger :active{
    background-color: rgb(179, 43, 43)
}


.edit-cell{
    text-align: center;
}

.edit-cell button{
    display: inline-block;
}

